body {
	background-color: #1e1a55;
  	font-family: "Poppins", sans-serif;
}

#headerHome{
	opacity: 0.9;
	background-color: #FFFFFF;
	max-width: 100%;
}

.container{
	margin-top: 5%;
}

.badge{
	font-size: 22px;
	font-weight: 900;
}

#punteggio{
	margin-top:10%;
	font-size: 32px;
}